Repository GeekOpsUA/AWS_EKS_KARPENTER, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dereban25, @OleksaBaida, @oleksiihead, @Searge, @mirik12, @gidra39, @vitalibit

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for application & terraform
# directory at the root of the repository and any of its subdirectories.
/application/ @dereban25 @OleksaBaida
/terraform/ @dereban25 @OleksaBaida

# The owners for .github directories
/.github/ @oleksiihead @Searge

# The owners for files in the root directory
/* @dereban25 @Searge

# THe owners for terraform modules
/terraform/modules/ @mirik12 @OleksaBaida @oleksiihead @gidra39 @vitalibit

Apply linting and workflow changes
  .editorconfig
  .github/workflows/lint-md.yml
  .github/workflows/lint-tf.yaml
  .gitignore
  .markdownlint.yaml
  .markdownlintignore
  README.md
  docs/README.md
  docs/aws_iam_module.md
  docs/aws_vpc_module.md
  terraform/.tflint.hcl
  terraform/env/dev/main.tf
  terraform/env/stage/main.tf
Owners: @dereban25, @Searge, @oleksiihead, @OleksaBaida

added example how use module and write correct
  example/iam/README.md
  example/iam/main.tf
  example/iam/terraform.tfvars
  example/iam/variables.tf
  example/modules/iam/main.tf
  example/modules/iam/variables.tf
Owners: none

add first iteration of tf modules/iam
  terraform/modules/iam/main.tf
  terraform/modules/iam/output.tf
  terraform/modules/iam/variables.tf
Owners: @mirik12, @OleksaBaida, @oleksiihead, @gidra39, @vitalibit

add README for tf module
  terraform/env/dev/terraform.tfvars.example
  terraform/env/dev/terraform.tvfars
  terraform/modules/iam/README.md
Owners: @dereban25, @OleksaBaida, @mirik12, @oleksiihead, @gidra39, @vitalibit

*.tfvars.example
  terraform/env/stage/terraform.tfvars.example
  terraform/env/stage/terraform.tvfars
  terraform/env/tst/terraform.tfvars.example
  terraform/env/tst/terraform.tvfars
Owners: @dereban25, @OleksaBaida

make change in output.tf in iam module
  terraform/modules/iam/output.tf
Owners: @mirik12, @OleksaBaida, @oleksiihead, @gidra39, @vitalibit

manage main.tf in iam module
  terraform/modules/iam/main.tf
Owners: @mirik12, @OleksaBaida, @oleksiihead, @gidra39, @vitalibit

make changes , rewrite main.tf and variables.tf and make it more dynamic
  terraform/modules/iam/main.tf
  terraform/modules/iam/variables.tf
Owners: @mirik12, @OleksaBaida, @oleksiihead, @gidra39, @vitalibit

change main and variables
  terraform/modules/iam/main.tf
  terraform/modules/iam/variables.tf
Owners: @mirik12, @OleksaBaida, @oleksiihead, @gidra39, @vitalibit

:sparkles: Add VSCode Workspace
  .vscode/eks_karpenter.code-workspace
Owners: none

:memo: Update documentation
  .markdownlint.yaml
  docs/README.md
  docs/aws_eks_module.md
  docs/development.md
Owners: @dereban25, @Searge

initial commit
  terraform/modules/eks/main.tf
  terraform/modules/eks/variables.tf
Owners: @mirik12, @OleksaBaida, @oleksiihead, @gidra39, @vitalibit

:sparkles: Add VSCode Workspace
  .vscode/eks_karpenter.code-workspace
Owners: none

:memo: Update documentation
  .markdownlint.yaml
  docs/README.md
  docs/aws_eks_module.md
  docs/development.md
Owners: @dereban25, @Searge

work in progress
  docs/aws_vpc_module.md
  example/iam/main.tf
  example/modules/iam/variables.tf
  terraform/env/dev/main.tf
  terraform/modules/eks/main.tf
  terraform/modules/eks/variables.tf
  terraform/modules/iam/main.tf
  terraform/modules/iam/output.tf
  terraform/modules/iam/variables.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/variables.tf
Owners: @dereban25, @OleksaBaida, @mirik12, @oleksiihead, @gidra39, @vitalibit
